*{
    margin: 0;
    padding: 0;
    font-family: 'Andalé Mono', monospace;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}
/* background image*/
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/IMG_3375.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
    /* optional */
    padding-right: 10px 10%;
}
nav{
    display:flow-root;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 200px;
}

/* menu */
nav ul li{
    /* display: inline-block; */
    display:flow-root;
    list-style: none;
    /* margin-top: 1000px;
    margin-bottom: 5px; 
    margin-right: 50%;  */
    margin: 30px 10px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}

/* underline seletion */
nav ul li a::after{
    /* content: '';
    width: 0%;
    height: 3px;
    background: #009dff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s; */

    content: attr(data-contents);
    width: 0;
    /* height: 3px; */
    color: #009dff;
    position: absolute;
    top: 0;
    left: 0;
    /* bottom: -8px; */
    overflow: hidden;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    color: #009dff;
    margin-bottom: 0%;
    font-size: 30px;
}

.header-text h1{
    color: #009dff;
    font-size: 60px;
    margin-top: 20px;
}

@keyframes fade {
    /* from {
        transform: translateX(1200px);
    }

    to {
        transform: translateX(0px);
    } */

        0% { opacity: 0; }
        100% { opacity: 1; }
}

.largeheader {
    animation: fade 2s ease-in;
    padding: 10px 10%;
    /* optional */
    /* color: #009dff; */
    font-size: 60px;
    margin-top: 20px;
    text-align:right;
}

/* --------!!!about!!!---------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

/* --------about: sub tabs---------- */
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: attr(data-content);
    width: 0;
    /* height: 3px; */
    color: #009dff;
    position: absolute;
    top: 0;
    left: 0;
    /* bottom: -8px; */
    overflow: hidden;
    transition: 0.5s;
}

/* --------about: skills tab highlight---------- */
.tab-links.active-link::after{
    width: 100%;
}

/* --------skills tab: header and margins---------- */
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #476fb5;
    font-size: 14px;
}

/* --------tab: hiding + showing contents---------- */
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}





/* --------!!!services!!!---------- */

/*
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
*/

/* --------contact: block styling---------- */
/* .services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
} */

/* --------services: block text---------- */
/* .services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px; 
    margin-top: 20px;
    display: inline-block;
} */



/* --------!!!portfolio!!!---------- */
/* #portfolio{
    padding: 50px 0;
} */

/* --------portfolio: block dimensions---------- */
/* .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
} */

/* --------portfolio: background image cropping---------- */
/* .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
} */
/* --------portfolio: text layer---------- */
/* .layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0,6), #009dff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #009dff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
} */

/* --------portfolio: background image zoom---------- */
/* .work:hover img{
    transform: scale(1.1);
} */

/* --------portfolio: text layer animation---------- */
/* .work:hover .layer{
    height: 100%;
} */

/* --------portfolio: button animation---------- */
.button{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #009dff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    /* transition: background 0.5s; */
}
/* .button:hover{
    background: #009dff;
}  */







/* --------contact: block animation and color---------- */
.services-list div:hover{
    background: #009dff;
    transform: translateY(-10px);
}

/* --------!!!contact!!!---------- */

/* --------contact: spacing---------- */
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 10%;
}

.contact-left p i{
    color: #009dff;
    margin-right: 15px;
    font-size: 25px;
}

/* --------contact: icons---------- */
.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #009dff;
    transform: translateY(-5px);
}

.button.button2{
    display: inline-block;
    background: #009dff;
}

.contact-right form{
    width: 100%;
}

/* --------response box styling---------- */
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .button2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* --------bottom banner---------- */

.closer{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}



/* --------small screen transition---------- */

@media only screen and (max-width: 600px) {
    .largeheader{
        font-size: 35px;
    }
    .subtitle{
        font-size: 40px;
    }
    .sub-title{
        font-size: 40px;

    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 11px;
        margin-right: 10px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .closer{
        font-size: 14px;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
