*{
    margin: 0;
    padding: 0;
    font-family: 'Andalé Mono', monospace;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #fff;
    color: #3D8A44;
    
}
/* background image*/
body{
    /* background-image: url('images/IMG_3377.JPG'); */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.container{

    border: 2px solid #3D8A44;
    margin: 10px;
    padding: 50px;
    background: #fff;
    color: #3D8A44;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.container:hover {
    transform: scale(1.005);
}

nav{
    color: #3D8A44;
    display:flow-root;
    align-items:center;
    /* justify-content:space-evenly; */
    flex: auto;
    margin: 10px;
}

nav ul {
    display: flex;
    width: 100%;
    border: 2px solid #3D8A44;
    background: #fff;
}

nav ul li {
    flex: 1;
    list-style: none;
    border-right: 2px solid #3D8A44;
    text-align: center;
    transition: background-color 0.3s ease;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li:hover {
    background-color: rgba(0, 255, 106, 0.2);
}

nav ul li a {
    color: #3D8A44;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    display: block;
    padding: 15px 0;
}

.header-text{
    color: #3D8A44;
    margin-bottom: 0%;
    font-size: 30px;
}

.header-text h1{
    color: #3D8A44;
    font-size: 60px;
}

@keyframes fade {
    /* from {
        transform: translateX(1200px);
    }

    to {
        transform: translateX(0px);
    } */

        0% { opacity: 0; }
        100% { opacity: 1; }
}

.largeheader {
    padding: 7%;
    animation: fade 2s ease-in;
    font-size: 80px;
    text-align: left;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.largeheader:hover {
    transform: scale(1.005);
}

/* --------!!!about!!!---------- */
#about {
    color: #ababab;
    margin: 0px 0px 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    display: flex; /* Add this */
}

.about-col-1 img {
    width: 100%;
    border: 2px solid #3D8A44;
    object-fit: cover; /* Add this */
    height: 100%; /* Add this */
}

.about-col-2 {
    flex-basis: 65%;
    border: 2px solid #3D8A44;
    border-left: none;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #3D8A44;
    border-bottom: 2px solid #3D8A44;
    padding: 30px;
}

.blurb{
    border-bottom: 2px solid #3D8A44;
    padding: 30px;
}

/* --------about: sub tabs---------- */
.tab-titles {
    display: flex;
    justify-content: space-around; /* This will space out the tabs evenly */
    border-bottom: 2px solid #3D8A44;
    padding: 0; /* Remove padding here */
}

.tab-links {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding: 20px;
    border-right: 2px solid #3D8A44;
    flex: 1;
    text-align: center;
}

.tab-links:last-child {
    border-right: none;
}

.tab-links.active-link {
    background-color: rgba(61, 138, 68, 0.1);
}

/* --------about: skills tab highlight---------- */
.tab-links.active-link::after{
    width: 100%;
}

/* --------skills tab: header and margins---------- */
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.tab-contents ul li span{
    color: #026210;
    font-size: 17px;
}

/* --------tab: hiding + showing contents---------- */
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* --------portfolio: button animation---------- */
.button{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #3D8A44;
    padding: 14px 50px;
    /* border-radius: 6px; */
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.button:hover{
    transform: scale(1.05);
} 


/* --------contact: block animation and color---------- */
.services-list div:hover{
    background: #3D8A44;
    transform: translateY(-10px);
}

/* --------!!!contact!!!---------- */

/* --------contact: spacing---------- */
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 10%;
}

.contact-left p i{
    color: #3D8A44;
    margin-right: 15px;
    font-size: 25px;
}

/* --------contact: icons---------- */
.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #3D8A44;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #3D8A44;
    transform: translateY(-5px);
}

.button.button2{
    display: inline-block;
    background: #3D8A44;
}

.contact-right form{
    width: 100%;
}

::placeholder{
    color: #3D8A44;
}

/* --------response box styling---------- */
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    color: #3D8A44;
    font-size: 18px;
    border: 2px solid #3D8A44;
}

form .button2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}



/* --------small screen transition---------- */

@media only screen and (max-width: 600px) {
    .container{
    
        border: 2px solid #3D8A44;
        margin: 10px;
        padding: 0px;
        background: #fff;
        color: #3D8A44;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    .largeheader{
        font-size: 35px;
    }

    #about {
        color: #ababab;
        margin: 0px 0px 0px;
    }
    
    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .about-col-1 {
        flex-basis: 100%;
        align-items: center;
        padding: 20px;
    }
    
    .about-col-1 img {
 
        width: 100%;
        border: 2px solid #3D8A44;
        object-fit: cover;
        height: 100%;
    }
    
    .about-col-2 {
        border-left: none;
        border-right: none;
        border-bottom: none;

        width: 100%;
        flex-basis: 100%;
        align-items: center;
        padding: 0px;
    }
    
    .subtitle{
        font-size: 30px;
        font-weight: 600;
        color: #3D8A44;
        border-bottom: 2px solid #3D8A44;
        text-align: center;
    }
    
    .blurb{
        flex-basis: 100%;
        border-bottom: 2px solid #3D8A44;
        padding: 20px 20px 20px 20px;
        font-size: medium;
    }

    /* --------about: sub tabs---------- */

.tab-links {
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding: 10px 1px 10px 1px;
    border-right: 2px solid #3D8A44;
    flex: 1;
    text-align: center;
}

.tab-links:last-child {
    border-right: none;
}

.tab-links.active-link {
    background-color: rgba(61, 138, 68, 0.1);
}

/* --------about: skills tab highlight---------- */
.tab-links.active-link::after{
    width: 100%;
}

/* --------skills tab: header and margins---------- */
.tab-contents ul li{
    list-style: none;
    padding: 10px 20px 10px 20px;
}

.tab-contents ul li span{
    color: #026210;
    font-size: 17px;
}



/* --------contact: block animation and color---------- */
.services-list div:hover{
    background: #3D8A44;
    transform: translateY(-10px);
}

/* --------!!!contact!!!---------- */

/* --------contact: spacing---------- */
.contact-left{
    padding: 20px;
    flex-basis: 100%;
}

.contact-right{
    padding: 20px;
    flex-basis: 100%;
}

.contact-left p{
    margin-top: 10%;
}

.contact-left p i{
    color: #3D8A44;
    font-size: 25px;
}

/* --------contact: icons---------- */
.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #3D8A44;
    display: inline-block;
    transition: transform 0.5s;
}

.button.button2{
    display: inline-block;
    background: #3D8A44;
}

.contact-right form{
    width: 100%;
}

::placeholder{
    color: #3D8A44;
}

/* --------response box styling---------- */
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    color: #3D8A44;
    font-size: 18px;
    border: 2px solid #3D8A44;
}

form .button2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

}
#msg{
    color: #61b752;
    margin-top: -40px;
    margin-left: 20px;
    padding-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    display: block;
    margin-block: 1em;
}
